@mixin df($direction,$align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
  
}

@mixin button($brad) {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: $brad;
  
    
}

@mixin bgi() {
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    
}

@mixin psevda() {
    content: '';
    display: inline-block;
    position:absolute ;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}