@use './../variables';
@use './../mixins';

// email
.email{
    background-color: variables.$fourth-color;
       
    &__container{
        width: 100vw;
        padding: 90px 160px 88px 287px;
        
    }
    
    &__wrapper{
        max-width: 1000px;
        position: relative;
        margin: 0 auto;
    }
    
    &__left-box{
        max-width: 550px;
    }
    
    &__heading{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color:variables.$secondary-color;
    }
    
    &__form{
        @include mixins.df(row,center);
        gap: 21px;
        margin-top: 40px;
    }
    
    &__input{
        border: none;
        outline: none;
        padding: 15px 147px 14px 22px;
        border-radius: 5px;
        background-color: variables.$secondary-color;
        border:2px solid transparent;
        
        &::placeholder{
            color: variables.$primary-color;
        }
        
        &:focus{
            border: 2px solid variables.$third-color;
        }
    }
    
    &__btn{
        padding: 15px 53px 14px 51px;
        background-color: variables.$primary-color;
        font-weight: 500;
        color: variables.$secondary-color;
        line-height: 21px;
        
        &:hover{
            background-color: variables.$third-color;
            color: variables.$primary-color;
        }
        
        &:active{
            opacity: 0.6;
        }
    }

    &__img{
        width: 500px;
        height: 430px;
        position: absolute;
        right: -10px;
        top: -173px;
    }
}