@use './../variables';
@use './../mixins';
// footer
.footer{
    background: #EBEBEB;
    border: 1px solid #EBEBEB;
    width: 100vw;
    &__container{
        max-width: 1350px;
        margin: 0 auto;
    }
    
    &__wrapper{
        @include mixins.df(column,flex-end);
        gap: 28px;
        padding: 54px 0 23px;
        width: 1350px;
    }
    
    &__up-box{
        @include mixins.df(row,flex-start);
        justify-content: space-between;
        width:1350px;
    }
    
    &__logo__link{
        
        
        &:hover{
            opacity: 0.8;
        }
        &:active{
            opacity: 0.6;
        }
    }
    
    &__logo__img{
        width: 158px;
        height: 76px;
    }
    
    &__nav__list--first{
        @include mixins.df(column,flex-start);
        gap: 10px;
        max-width: 86px
    }
    
    &__nav__list--second{
        @include mixins.df(column,flex-start);
        gap: 10px;
        max-width: 115px;
    }
    
    &__nav__item{
        max-width: 90px;  
        max-width: 115px;
    }
    
    &__navbar__Link{
        color: variables.$primary-color;
        font-weight: 500;
        line-height: 21px;
        
        &:hover{
            color: variables.$third-color;
        }
        
        &:active{
            color: variables.$primary-color;
            opacity: 0.7;
        }
    }
    
    &__date-box{
        @include mixins.df(row,flex-start);
        gap: 14px;
        max-width: 164px;
    }
    
    &__date__img{
        width: 16px;
        height: 16px;
    }
    
    &__schedule-list{
        max-width: 182px;
    }
    
    &__schedule-item{
        color: variables.$primary-color;
    }
    
    &__map__link{
        max-width: 182px;
        font-weight: 500;
        color: variables.$primary-color;
        line-height: 21px;
    }
    
    &__location-img{
        width: 14px;
        height: 13px;
    }
    
    &__list__tel{
        @include mixins.df(row,flex-start);
        gap: 9px;
    }
    
    &__nmbs{
        @include mixins.df(column,flex-start);
        gap: 4px;
    }
    
    &__phone__link{
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: variables.$primary-color;
    }
    
    &__policy{
        font-size: 14px;
        line-height: 18px;
        color: variables.$policy-color;
    }
}

