@use './../variables';
@use './../mixins';
// services
.services{
    padding-top: 95px;
    padding-bottom: 118px;
    
    &__wrapper{
        @include mixins.df(column,center);
    }
    
    &__heading{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        margin-bottom: 80px;
        color: variables.$primary-color;
    }
    
    &__middle-holder{
        @include mixins.df(row,center);
        gap: 29px;
        margin-bottom: 14px;
    }
    
    &__arrow-img{
        width: 14px;
        height: 25px;
        cursor: pointer;
        
        &:hover{
            opacity: 0.8;
        }
        
        &:active{
            opacity: 0.6;
        }
    }
    
    &__list{
        @include mixins.df(row,center);
        justify-content: space-between;
    }
    
    &__item{
        @include mixins.df(column,center);
        gap: 21px;
        max-width: 193px;
        padding: 30px 32px 28px 35px;
        cursor: pointer;
        
        &:hover{
            opacity: 0.8;
        }
        
        &:active{
            opacity: 0.6;
        }
    }
    
    &__img{
        width: 75px;
        height: 75px;
    }
    
    &__inner-heading{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: variables.$primary-color;
        text-align: center;
    }
    
    &__bottom-holder{
        padding: 42px 149px 42px 79px;
        @include mixins.df(row,center);
        gap: 67px;
    }
    
    &__cat-img{
        width: 524px;
        height: 329px;
    }
    
    &__bottom__right-box{
        max-width: 492px;
    }
    
    &__bottom__right-box__heading{
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 20px;
        color: variables.$primary-color;
        margin-bottom: 18px;
    }
    
    &__bottom__right-box__text-double{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 9px;
        color: variables.$text-color;
    }
    
    &__bottom__right__btn-holder{
        @include mixins.df(row,center);
        gap: 21px;
        margin-top: 34px;
    }
    
    &__uznat__btn{
        padding: 14px 35px;
        background-color: variables.$third-color;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        color: variables.$secondary-color;
        
        &:hover{
            background-color:variables.$primary-color;
            color: variables.$third-color;
        }
    }
    
    &__uznat__btn__img{
        width: 21px;
        height: 21px;
        margin-right: 6px;
    }
    
    &__zapisat__btn{
        padding: 14px 37px;
        background-color: variables.$primary-color;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: variables.$secondary-color;
        
        &:hover{
            background-color: variables.$third-color;
            color: variables.$primary-color;
        }
    }
}